.c{
    display: flex;
    align-items: center;
    justify-content: center;

}
.container
{
    font-family: 'Montserrat',sans-serif;
    position: absolute;
    width: 300px;
    height: 200px;
    top: 14%;
}
a{
    outline: none;
    font-family: 'Montserrat',sans-serif;
}
.inpuT{
position: relative;
cursor: text;
font-size: 14px;
line-height: 20px;
padding: 0 14px;
height: 26px;
background-color: #fff;
border: 1px solid #d6d6e7;
border-radius: 3px;
color: rgb(35, 38, 59);
box-shadow: inset 0 1px 4px 0 rgb(119 122 175 / 30%);
overflow: hidden;
transition: all 100ms ease-in-out;
 
}
.inpuT:hover{
    border-color: #3c4fe0;
    box-shadow: 0 1px 0 0 rgb(35 38 59 / 5%);
}
.inpuT:focus{
    border-color: #3c4fe0;
    box-shadow: 0 1px 0 0 rgb(35 38 59 / 5%);
}
.inpuTT{
    position: relative;
cursor: text;
font-size: 14px;
line-height: 20px;
padding: 0 14px;
height: 26px;
background-color: #fff;
border: 1px solid #d6d6e7;
border-radius: 3px;
color: rgb(35, 38, 59);
box-shadow: inset 0 1px 4px 0 rgb(119 122 175 / 30%);
overflow: hidden;
transition: all 100ms ease-in-out;
}
.inpuTT:hover{
    border-color: #3c4fe0;
    box-shadow: 0 1px 0 0 rgb(35 38 59 / 5%);
}
.inpuTT:focus{
    border-color: #3c4fe0;
}

.enviarZap{
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.enviarZap:hover {
  box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .button-37 {
    padding: 10px 30px;
  }
}
h1{
    font-size: 26px;
}
